{% extends 'annotationapp/annotationapp_base.html' %}

{% block title %} Select reference sound{% endblock %}

{% block content %}
<h5> Please select the reference sound for the {{ exercise.name }} exercise </h5>

{% if sounds_list %}
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <select name="reference sound">
        {% for sound in sounds_list %}
            <option value={{ sound.id }}>{{ sound.filename }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
    </form>
{% else %}
    <p>There is no sounds</p>
{% endif %}
{% endblock %}
