{% extends 'annotationapp/annotationapp_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %} {{ sound.filename }} annotation page {% endblock %}

{% block content %}

  <script src="{% static 'node_modules/peaks.js/peaks.js' %}"></script>
  <div id="titles">

    <div class="ref-sound">
    {% for tier in sound.exercise.reference_sound.exercise.tiers.all %}
      {% if tier.entire_sound %}
      <div class='tier'
          data-action-url='{% url "annotation-action" sound.exercise.reference_sound.id tier.id %}'
          data-audio="audio-ref-controls"
          data-annotations-url='{% url "get-annotations" sound.id tier.id %}'
          data-waveform='{{ MEDIA_URL }}{{sound.exercise.reference_sound.waveform_data }}' >
       <div class="waveform-visualiser-container"></div>
      </div>
      {% endif %}
    {% endfor %}

       <div id="audio-ref-controls">
        <audio controls=controls>
          <source src="{{ MEDIA_URL }}{{ sound.exercise.reference_sound.filename }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
       </div>
     </div>

    {% for tier in sound.exercise.tiers.all %}
    <div class='tier'
          data-action-url='{% url "annotation-action" sound.id tier.id %}'
          data-audio='audio-controls'
          data-annotations-url='{% url "get-annotations" sound.id tier.id %}'
          data-waveform='{{ MEDIA_URL }}{{sound.waveform_data }}'>
      <div class="waveform-visualiser-container {% if forloop.last %}last{% endif %}"></div>
      {% if not tier.entire_sound %}
        <button class="add-segment">Add a Segment to Tier</button>
        <button class="remove-point">Remove Segment</button>
      {% endif %}
    </div>
    {% endfor %}

    <div id="audio-controls">
      <audio controls=controls>
        <source src="{{ MEDIA_URL }}{{ sound.filename }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>

      <script>
        var tempId = 0;
        function getTempId(){ return tempId++;}
        function callServer(action, segment, url, cb){
          var xhr = new XMLHttpRequest();
          xhr.responseType = 'json';
          xhr.onreadystatechange = function() {
              if (xhr.readyState == XMLHttpRequest.DONE ) {
                 if (xhr.status == 200) {
                     cb(xhr.response);
                 }
                 else if (xhr.status == 400) {
                    alert('There was an error 400');
                 }
              }
          };

          xhr.open("POST", url, true);
          data = segment;
          data.action = action;
          xhr.send(JSON.stringify(data));
        }
        function getAnnotations(theUrl){
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return JSON.parse(xmlHttp.responseText);
        }
        var delayedEdit = [];
        (function(Peaks){
          var tiers = document.getElementsByClassName('tier');
          for (var i = 0; i < tiers.length; i++) {
            var container = tiers[i];
            var url = container.getAttribute('data-action-url');
            var urlAnnotations = container.getAttribute('data-annotations-url');

            // parameters to create new waveform for annotation tier
            var options = {
              container: container.getElementsByClassName('waveform-visualiser-container')[0],
              mediaElement: document.querySelector("#"+container.getAttribute('data-audio')).querySelector('audio'),
              dataUri: {
                arraybuffer: container.getAttribute('data-waveform'),
              },
              height: 120,
              keyboard: false,
              segments: []
            };


            var rsp = getAnnotations(urlAnnotations);
            if (rsp.status == 'success') {
              for (var j = 0; j < rsp.annotations.length; j++){
                options.segments.push({
                  id: rsp.annotations[j].annotation_id,
                  startTime: rsp.annotations[j].startTime,
                  endTime: rsp.annotations[j].endTime,
                  editable: true
                });
              }
            }
            var peaksInstance = Peaks.init(options);

            // By ajax update data of edited segment annotation
            peaksInstance.on('segments.dragged', function(segment){
              segment.annotation_id = segment.id;
              for (var i = 0; i < delayedEdit.length; i++) {
                window.clearTimeout(delayedEdit[i]);
                delayedEdit.splice(i, 1);
              }
              delayedEdit.push(setTimeout(function(){
                  callServer('edit', segment, url, function(response){});
              }, 1000));

            });

            // Add new segment to the current tier, also store the annotation in the database
            var addBtn = container.querySelectorAll(".add-segment");
            if (addBtn.length > 0) {
              addBtn[0].addEventListener("click", function (tier, actionUrl) {
                return function(){
                  var currTime = tier.time.getCurrentTime()
                  var segments = tier.segments.getSegments();
                  for (var i = 0; i < segments.length; i++) {
                    if (currTime >= segments[i].startTime && currTime <= segments[i].endTime){
                      currTime = segments[i].endTime;
                    }
                  }
                  var auxId = getTempId();
                  var segment = {
                    startTime: currTime,
                    endTime: currTime + 1,
                    editable: true,
                    id: auxId
                  };
                  tier.segments.add(segment);
                  callServer('add', segment, actionUrl, function(response){
                    if (response.status == 'success'){
                      var segments = tier.segments.getSegments();
                      for (var i = 0; i< segments.length; i++){
                        if (segments[i].id == auxId){
                          segments[i].id = response.annotation_id;
                        }
                      }
                    }
                  });
                }
              }(peaksInstance, url));
            }

            // Remove a segment, also remove it from the database
            var removeBtn  = container.querySelectorAll(".remove-point");
            if (removeBtn.length > 0) {
              removeBtn[0].addEventListener("click", function (tier, actionUrl) {
                return function(){
                  var segments = tier.segments.getSegments();
                  var currTime = tier.time.getCurrentTime();
                  for (var i = 0; i < segments.length; i++) {
                    if (currTime >= segments[i].startTime && currTime <= segments[i].endTime){
                      var id = segments[i].id;
                      callServer('remove', {annotation_id: id}, actionUrl, (function(remove_id){
                        return function(response){
                          if (response.status == 'success' ){
                            tier.segments.removeById(remove_id);
                          }
                        }
                      })(id));
                    }
                  }
                }
              }(peaksInstance, url));
            }
          }
        })(peaks);
      </script>
{% endblock %}
</html>
