{% extends 'annotationapp/annotationapp_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %} {{ sound.filename }} annotation page {% endblock %}
{% block extra_head %}
<style>
  .waveform-visualiser-container:not(.last) .overview-container{
    display: none;
  }
</style>
{% endblock %}

{% block links %}
    <div class="form-group">
      <div class="col-xs-1">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form }} </p>
        <p><input type="submit" value="Create tier" /></p>
        </form>
      </div>
    </div>
{% endblock %}

{% block content %}

  <script src="{% static 'node_modules/peaks.js/peaks.js' %}"></script>
  <div id="titles">

    <div class="ref-sound">
      {% if sound.exercise.reference_pitch_sound %}
      <div>
        <h4> Reference Pitch sound</h4>
      </div>
      
      <div>
        <audio controls=controls>
          <source src="{{ MEDIA_URL }}{{ sound.exercise.reference_pitch_sound }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
      {% endif %}
      
      <div>
        <h4> Reference sound <small> {{ sound.exercise.reference_sound.filename }} </small></h4>
      </div>
      
      <div id="audio-ref-controls">
        <audio controls=controls>
          <source src="{{ MEDIA_URL }}{{ sound.exercise.reference_sound.filename }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <div>
        <h4> {{ sound.filename }} </h4>
    </div>
    {% for tier in sound.exercise.tiers.all %}
    <div>
        <h5>tier: {{ tier.name }}</h5>
    </div>
     <div class='row tier reference'
        data-tier-id='{{tier.id}}'
        data-action-url='{% url "annotation-action" sound.exercise.reference_sound.id tier.id %}'
        data-audio="audio-ref-controls"
        data-annotations-url='{% url "get-annotations" sound.exercise.reference_sound.id tier.id %}'
        data-waveform='{{ MEDIA_URL }}{{sound.exercise.reference_sound.waveform_data }}' >
     <div class="waveform-visualiser-container"></div>
    </div>
    <div class='row tier'
          data-tier-id='{{tier.id}}'
          data-action-url='{% url "annotation-action" sound.id tier.id %}'
          data-audio='audio-controls'
          data-annotations-url='{% url "get-annotations" sound.id tier.id %}'
          data-action-url='{% url "annotation-action" sound.id tier.id %}'
          data-waveform='{{ MEDIA_URL }}{{sound.waveform_data }}'>
      <div class="waveform-visualiser-container"></div>
      <div class="selected-section" style="display: none">
        <span>Selected Section: </span>
        <span class="sel-name"></span>
      </div>
      <div id="selected-section-ref-{{tier.id}}" style="display: none">
          <span>Selected section on reference tier: </span>
          <span class="sel-name"></span>
        </div>
      <div class="col-md-6">
        <button class="btn btn-default add-segment">Add a Segment to Tier</button>
        <button class="btn btn-default add-simil-segment">Add a Similarity measure</button>
        <button class="btn btn-danger remove-point">Remove Segment</button>
      </div>
      <div class="form-group form-inline col-xs-6">
        <label >Segment value:</label>
        <input class="form-control name-txt" type="text" />
      </div>
    </div>
    {% endfor %}

    <div id="audio-controls">
      <audio controls=controls>
        <source src="{{ MEDIA_URL }}{{ sound.filename }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>

  <script src="{% static 'js/sound_detail.js' %}"></script>
{% endblock %}
</html>
