<html>
    <head>
        <meta charset="utf-8">
        <title>Upload Form</title>
    </head>
    <body>

    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ forms.exercise_form }}</p>
        <p>{{ forms.file_form.non_field_errors }}</p>
        <p>{{ forms.file_form.zip_file.label_tag }} </p>
        <p>
            {{ forms.file_form.zip_file.errors }}
            {{ forms.file_form.zip_file }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>
    </body>
</html>