{% extends 'annotationapp/annotationapp_base.html' %}
{% block title %} List of exercises {% endblock %}
{% block content %}
    {% if exercises_list %}
        <ul class="pagination">
            {% for exercise in exercises_list %}
                <li><h4><a href="/{{ exercise.id }}/sound_list/">{{ exercise.name }}</a></h4></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No exercises available.</p>
    {% endif %}
{% endblock %}

{% block links %}
    <input type="button" onclick="location.href='/upload/';" value="Create an exercise" />
{% endblock %}

{% block logout %}
    <button>
    <a href="/accounts/logout">logout</a>
    </button>
{% endblock %}
