{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block extra_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/urban-ears.css">

    <script type="text/javascript" src="/static/js/lib/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/wavesurfer.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/wavesurfer.spectrogram.min.js"></script>
    <script type="text/javascript" src="/static/js/colormap/colormap.min.js"></script>

    <script type="text/javascript" src="/static/js/src/message.js"></script>
    <script type="text/javascript" src="/static/js/src/wavesurfer.regions.js"></script>
    <script type="text/javascript" src="/static/js/src/wavesurfer.drawer.extended.js"></script>
    <script type="text/javascript" src="/static/js/src/wavesurfer.labels.js"></script>
    <script type="text/javascript" src="/static/js/src/hidden_image.js"></script>
    <script type="text/javascript" src="/static/js/src/components.js"></script>
    <script type="text/javascript" src="/static/js/src/annotation_stages.js"></script>
    <script type="text/javascript" src="/static/js/src/main_ref.js" defer></script>
{% endblock %}

<div class="row prompt">
  <h4 class="center">{{ sound.filename }} - {{tier.name}}</h4>
</div>
<div class="row prompt">
    {% for other_tier in other_tiers %}
        {% if other_tier != tier %}
            <h5 class="center"><a href="/{{ exercise_id }}/ref_sound_detail/{{ sound.id }}/{{ other_tier.id }}">{{ other_tier.name }}</a></h5>
        {% endif %}
    {% endfor %}
</div>
    <div class="annotation">
       <span><b>Sound to annotate:</b></span>
        <div class="labels"></div>
        <div class="audio_visual"></div>
        <div class="play_bar"></div>
        <div class="hidden_img"></div>
        <div class="creation_stage_container"></div>
        <div class="submit_container"></div>
    </div>    
    <script>
      var dataUrl = '{% url 'annotation-action' sound.id tier.id %}';
      var nextUrl = '{{ next_url}}';
    </script>   

</html>
