{% extends 'annotationapp/annotationapp_base.html' %}

{% block title %} <a href="/{{ exercise.data_set.id }}/">
    {{ exercise.data_set.name }} </a> : <b> {{ exercise.name }} </b>: list of sounds{% endblock %}

{% block content %}
    {% if display_filter != 'all' and display_filter != 'discarded'%}
    <div class="btn-group" role="group" aria-label="...">
      <a href="{% url 'sound_list' exercise.id %}?filter=discarded" class="btn">Display discarded sounds</a>
    </div>
    {% else %}
      <a href="{% url 'sound_list' exercise.id %}" class="btn">Display active sounds</a>
    {% endif %}
    <ul class="list-group">
    {% if reference_sound %}
        {% if reference_sound.name %}
            <li><a style="color:#425ff4" href="/{{ exercise.id }}/ref_sound_detail/{{ reference_sound.id }}/{{ tier.id}}">{{ reference_sound.name }}</a> </li>
        {% else %}
            <li><a style="color:#425ff4" href="/{{ exercise.id }}/ref_sound_detail/{{ reference_sound.id }}/{{ tier.id}}">{{ reference_sound.filename }}</a> </li>
        {% endif %}
    {% endif %}
    {% if sounds_list %}
        {% for sound in sounds_list %}
        <li>
            {% if sound.sound.name %}
                <a style="color:{% if sound.is_completed%}#2eb244{% else %}#cc0000{%endif%}" href="/{{ exercise.id }}/sound_detail/{{ sound.sound.id }}/{{ tier.id }}">{{ sound.sound.name }}</a></li>
            {% else %}
                <a style="color:{% if sound.is_completed%}#2eb244{% else %}#cc0000{%endif%}" href="/{{ exercise.id }}/sound_detail/{{ sound.sound.id }}/{{ tier.id }}">{{ sound.sound.filename }}</a></li>
            {% endif %}
        {% endfor %}
        <div class="pagination">
            {% if sounds_list.has_previous %}
            <a href="?page={{ sounds_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ sounds_list.number }} of {{ sounds_list.paginator.num_pages }}.
            </span>

            {% if sounds_list.has_next %}
            <a href="?page={{ sounds_list.next_page_number }}">next</a>
            {% endif %}
        </div>
    {% endif %}
    </ul>
{% endblock %}

{% block logout %}
    <button>
    <a href="/accounts/logout">logout</a>
    </button>
{% endblock %}
