{% extends 'annotationapp/annotationapp_base.html' %}

{% block title %} List of {{ exercise.name }} sounds {% endblock %}

{% block content %}
    {% if display_filter != 'all' and display_filter != 'discarded'%}
    <div class="btn-group" role="group" aria-label="...">
      <a class="btn btn-default" href="{% url 'sound_list' exercise.id %}?filter=all">Display all sounds</a>
      <a class="btn btn-default" href="{% url 'sound_list' exercise.id %}?filter=discarded">Display discarded sounds</a>
    </div>
    {% else %}
      <a href="{% url 'sound_list' exercise.id %}">Show only sounds without annotations</a>
    {% endif %}
    {% if reference_sound %}
        <li><a href="/{{ exercise.id }}/{{ reference_sound.id }}/tiers_list/">{{ reference_sound.filename }}<span style="color:#cc0000"> reference sound</span> </a> </li>
    {% endif %}
    {% if sounds_list %}
        {% for sound in sounds_list %}
                <li><a href="/{{ exercise.id }}/{{ sound.id }}/tiers_list/">{{ sound.filename }}</a></li>
        {% endfor %}
        <div class="pagination">
            {% if sounds_list.has_previous %}
            <a href="?page={{ sounds_list.previous_page_number }}&{{ request.GET.urlencode }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ sounds_list.number }} of {{ sounds_list.paginator.num_pages }}.
            </span>

            {% if sounds_list.has_next %}
            <a href="?page={{ sounds_list.next_page_number }}&{{ request.GET.urlencode }}">next</a>
            {% endif %}
        </div>
    {% else %}
        <p>There is no sounds</p>
    {% endif %}
{% endblock %}

{% block links %}
    <input type="button" onclick="location.href='/{{ exercise.id }}/download/';" value="Download annotations" />
{% endblock %}

{% block logout %}
    <button>
    <a href="/accounts/logout">logout</a>
    </button>
{% endblock %}
