{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block extra_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/urban-ears.css">

    <script type="text/javascript" src="/static/js/lib/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/wavesurfer.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/wavesurfer.spectrogram.min.js"></script>
    <script type="text/javascript" src="/static/js/colormap/colormap.min.js"></script>

    <script type="text/javascript" src="/static/js/src/message.js"></script>
    <script type="text/javascript" src="/static/js/src/wavesurfer.regions.js"></script>
    <script type="text/javascript" src="/static/js/src/wavesurfer.drawer.extended.js"></script>
    <script type="text/javascript" src="/static/js/src/wavesurfer.labels.js"></script>
    <script type="text/javascript" src="/static/js/src/hidden_image.js"></script>
    <script type="text/javascript" src="/static/js/src/components.js"></script>
    <script type="text/javascript" src="/static/js/src/annotation_stages.js"></script>
    <script type="text/javascript" src="/static/js/src/main.js" defer></script>
{% endblock %}

{% block content %}
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div>
<div class="row prompt">
  <h4 class="center">{{ sound.filename }} - {{tier.name}}</h4>
</div>
<div class="row prompt">
    {% for other_tier in other_tiers %}
        <h5 class="center"><a href="/{{ exercise_id }}/sound_detail/{{ sound.id }}/{{ other_tier.id }}">{{ other_tier.name }}</a></h5>
    {% endfor %}
</div>

<div style="width: 100%; text-align: right;">
    <div class="right-align" style="margin-right:35px; display: inline;">
    {% if request.GET.enable_spec %}
      <a href="{% url 'sound_detail' exercise_id sound.id tier.id %}" class="btn">Disable Spectrogram</a>
    {% else %}
      <a href="{% url 'sound_detail' exercise_id sound.id tier.id %}?enable_spec=1" class="btn">Enable Spectrogram</a>
    {% endif %}
    </div>
   <div class="right-align" style="margin-right:35px; display: inline;">
        <a href="/{{ exercise_id }}/sound_list" class="btn">Go back to sounds</a>
    </div>
</div>
    
<div class="annotation">
  {% if sound.exercise.reference_pitch_sound %}
      <span><b>Reference Pitch Sound:</b></span>
      <div>
        <audio controls=controls>
          <source src="{{ MEDIA_URL }}{{ sound.exercise.reference_pitch_sound }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
  {% endif %}
  <span><b>Reference Sound:</b></span>
    <div class="labels_ref"></div>
    <div class="audio_visual_ref"></div>
    <div class="play_bar_ref"></div>
    <div class="zoom">
      <span>Zoom: </span>
      <select id="zoom_ref">
        <option value="">1x</option>
        <option value="2">2x</option>
        <option value="4">4x</option>
      </select>
    </div>
    <span><b>Sound to annotate: </b></span>
    <div class="labels"></div>
    <div class="audio_visual"></div>
    <div class="play_bar"></div>
    <div class="zoom">
      <span>Zoom: </span>
      <select id="zoom">
        <option value="">1x</option>
        <option value="2">2x</option>
        <option value="4">4x</option>
      </select>
    </div>
    <div class="creation_stage_container"></div>
    <div class="submit_container">
      <form style="display: inline;" action="{% url 'sound_detail' sound.exercise.id sound.id tier.id%}" method="post">
      {% csrf_token %}
      <button class="btn">
          {% if sound.is_discarded %}
            Activate the sound back
          {% else %}
            Discard this sound
          {% endif %}
      </button>
      </form>

    </div>
</div>
{% endblock %}
<script>
  var dataUrl = '{% url 'annotation-action' sound.id tier.id %}?enable_spec={{request.GET.enable_spec}}';
  var nextUrl = '{{ next_url }}';
</script>
</html>



