{% extends 'annotationapp/annotationapp_base.html' %}

{% block title %} List of {{ exercise.name }} sounds {% endblock %}

{% block content %}
    {% if reference_sound %}
        <li><a href="/{{ exercise.id }}/{{ reference_sound.id }}/tiers_list/">{{ reference_sound.filename }}<span style="color:#cc0000"> reference sound</span> </a> </li>
    {% endif %}
    {% if sounds_list %}
        {% for sound in sounds_list %}
            <li><a href="/{{ exercise.id }}/{{ sound.id }}/tiers_list/">{{ sound.filename }}</a></li>
        {% endfor %}
    {% else %}
        <p>There is no sounds</p>
    {% endif %}
{% endblock %}

{% block links %}
    <input type="button" onclick="location.href='/{{ exercise.id }}/download/';" value="Download annotations" />
{% endblock %}

{% block logout %}
        <input type="button" onclick="location.href='/accounts/logout';" value="Logout" />
{% endblock %}
