{% extends 'annotationapp/annotationapp_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %} {{ sound.filename }} annotation page {% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/urban-ears.css">

    <script type="text/javascript" src="/static/js/lib/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/wavesurfer.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/wavesurfer.spectrogram.min.js"></script>
    <script type="text/javascript" src="/static/js/colormap/colormap.min.js"></script>

    <script type="text/javascript" src="/static/js/src/message.js"></script>
    <script type="text/javascript" src="/static/js/src/wavesurfer.regions.js"></script>
    <script type="text/javascript" src="/static/js/src/wavesurfer.drawer.extended.js"></script>
    <script type="text/javascript" src="/static/js/src/wavesurfer.labels.js"></script>
    <script type="text/javascript" src="/static/js/src/hidden_image.js"></script>
    <script type="text/javascript" src="/static/js/src/components.js"></script>
    <script type="text/javascript" src="/static/js/src/annotation_stages.js"></script>
    <script type="text/javascript" src="/static/js/src/main.js" defer></script>
{% endblock %}

{% block links %}
    <div class="form-group row">
      <div class="col-xs-1">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form }} </p>
        <p><input type="submit" value="Create tier" /></p>
        </form>
      </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Tutorial Video</h4>
            <div class="videowrapper">
                <iframe id="tutorial-video" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
    </div>
    <div class="row prompt">
        <h4 class="center">Highlight &amp; Tag Each Sound</h4>
        <div class="instructions">
            <h6><span style="color: #00B1B9; font-size: 18px; font-weight: 600;">&#9312;</span> &nbsp Familiarize yourself with the list of sound tags under the audio recording.</h6>
            <h6><span style="color: #00B1B9; font-size: 18px; font-weight: 600;">&#9313;</span> &nbsp Click the play button and listen to the recording.</h6>
            <h6><span style="color: #00B1B9; font-size: 18px; font-weight: 600;">&#9314;</span> &nbsp For each sound that you hear click and drag to create a new annotation.</h6>
            <h6><span style="color: #00B1B9; font-size: 18px; font-weight: 600;">&#9315;</span> &nbsp Select the appropriate tag and indicate whether the sound is near or far.</h6>
        </div>
    </div>
    <div class="annotation">
        <div class="labels_ref"></div>
        <div class="audio_visual_ref"></div>
        <div class="play_bar_ref"></div>
        <div class="labels"></div>
        <div class="audio_visual"></div>
        <div class="play_bar"></div>
        <div class="hidden_img"></div>
        <div class="creation_stage_container"></div>
        <div class="submit_container"></div>
    </div>    
    <script>
        var dataUrl = '/static/json/sample_data.json';
    </script>   
    <!--<script src="{# static 'js/sound_detail.js' #}"></script>-->
{% endblock %}
</html>
