{% extends 'annotationapp/annotationapp_base.html' %}

{% block title %} List of tiers for sound {{ sound.filename }} {% endblock %}

{% block links %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h5>Create new tier:</h5>
            <p>{{ form.name }} </p>
            <h5>Select parent tier if desired:</h5>
            <p>{{ form.parent_tier }} </p>
        <button type="submit" class="btn btn-info">Create</button>
        </form>
{% endblock %}

{% block content %}
    {% if tiers_list %}
        {% for tier in tiers_list %}
            {% if reference_sound %}
                <li><a href="/{{ exercise.id }}/ref_sound_detail/{{ sound.id }}/{{ tier.id }}">{{ tier.name}}</a></li>
            {% else %}
                <li><a href="/{{ exercise.id }}/sound_detail/{{ sound.id }}/{{ tier.id }}">{{ tier.name}}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There is no tiers</p>
    {% endif %}
{% endblock %}

{% block logout %}
    <button>
    <a href="/accounts/logout">logout</a>
    </button>
{% endblock %}

