{% extends 'annotationapp/annotationapp_base.html' %}
{% load static %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/lib/jquery-2.2.3.min.js"></script>
<style>.icn {width: 20px;} .highlight-tier {background-color: #ddd; border-radius: 4px;}</style>
<script>
$( document ).ready(function() {
  $('.show-parent').mouseover(function(){
    $(".tier-" + $( this ).data('parent')).addClass('highlight-tier');
  }).mouseout(function() {
    $(".tier-" + $( this ).data('parent')).removeClass('highlight-tier');
  });
})
</script>
{% endblock %}

{% block title %} <a href="/{{ exercise.data_set.id }}/">
    {{ exercise.data_set.name }} </a> : <a href="/{{ exercise.id }}/sound_list/"> {{ exercise.name }} </a>: list of tiers {% endblock %}

{% block links %}
    <input type="button" onclick="location.href='/{{ exercise.id }}/{{ sound.id }}/tier_creation/';" value="Create a tier" />
{% endblock %}

{% block content %}
    {% if tiers_list %}
        {% for tier in tiers_list %}
            <h4>
            <li class="tier-{{ tier.id }}">
              {{ tier.name }}
              {% if tier.special_parent_tier %}
              <img src="{% static 'img/branch.png'%}" class="show-parent icn" data-parent="{{tier.special_parent_tier.id}}"/>
              {% endif %}
              <a href="{% url 'tier_edit' exercise.id tier.id sound.id %}"><img src="{% static 'img/edit.png'%}" class="icn" /></a>
              <a href="{% url 'tier_delete' exercise.id tier.id sound.id %}"><img src="{% static 'img/delete.png'%}" class="icn"/></a>
            </li>
            </h4>

        {% endfor %}
    {% else %}
        <p>There are no tiers</p>
    {% endif %}
{% endblock %}

{% block logout %}
    <button>
    <a href="/accounts/logout">logout</a>
    </button>
{% endblock %}

