{% extends 'annotationapp/annotationapp_base.html' %}

{% block title %}Login{% endblock %}

{% block links %}
<div id="login-form">
<form method="post" action="{% url "accounts-login" %}?next={{ redirect_url }} ">{% csrf_token %}
  <div class="form-group">
    <input type="text"  class="form-control" id="{{form.username.auto_id}}" name='{{form.username.name}}' placeholder="Username">
    {{form.errors.username}}
  </div>
  <div class="form-group">
    <input type="password"  class="form-control" id="{{form.password.auto_id}}" name='{{form.password.name}}' placeholder="Password">
    {{form.errors.password}}
  </div>
  {{form.non_field_errors}}

  <input type="hidden" name="next" value="{{ next }}"/>
  <div>
    <button id="login-form-submit" type="submit" class="btn btn-success">
     Log in
    </button>
  </div>
</form>

</div>
Don't have an account yet?
<div>
<a href="/accounts/register/">Register</a>
</div>
{% endblock %}
