
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'db',
        'PORT': '5432',
    }
}

MEDIA_ROOT = "/code/media"
TEMP_ROOT = "/code/tmp"

GEARMAN_JOB_SERVERS = ["gearman:4730"]

