import dj_database_url

DB_DEFAULT = 'postgres://postgres@db/postgres'

DATABASES = {
    'default': dj_database_url.config(default=DB_DEFAULT)
}

MEDIA_ROOT = "/media"
TEMP_ROOT = "/tmp"

STATIC_ROOT = "/static"

GEARMAN_JOB_SERVERS = ["gearman:4730"]

